@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;1,100;1,400&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #0a1931;
}

header {
  width: 100%;
  background: #185adb;
  padding: 3px;
  color: white;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 999;
}

header h1 {
  font-weight: bolder;
  font-size: xx-large;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.wrapper {
  position: relative;
  margin: 16px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper .container {
  width: 1000px;
  border-radius: 10px;
  margin: 16px;
  background: #ffc947;
  padding: 10px 30px 30px;
  flex-grow: 1;
  height: fit-content;
}

.item {
  border-radius: 16px;
  margin-top: 16px;
  padding: 12px 24px;
  background: #feddbe;
  display: flex;
  align-items: center;
}

.item > .inner h2 {
  margin-bottom: unset;
  font-weight: 300;
}

.item > .inner p {
  margin-top: 5px;
  font-size: 14px;
}

.form {
  display: flex;
  flex-direction: column;
  height: 300px;
  border-radius: 16px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: 300;
}

.shadow {
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 15px 40px rgba(166, 173, 201, 0.2);
}

input[type="text"],
input[type="date"] {
  background: #feddbe;
  border: 1px solid #000;
  border-radius: 8px;
  padding: 16px;
  box-sizing: border-box;
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: 300;
}

.btn-submit {
  width: fit-content;
  border-radius: 16px;
  padding: 12px 24px;
  border: 2px solid #185adb;
  color: #393e46;
  font-size: 24px;
  margin-top: auto;
  align-self: flex-end;
  cursor: pointer;
  transition: 0.3s;
  background-color: #bad7e9;
}

.btn-submit:hover {
  background: #185adb;
  color: white;
}

input[type="text"],
input[type="date"],
.btn-submit:focus {
  outline: none;
}

.text-center {
  text-align: center;
}

.form-title {
  margin: auto 0;
}

.check-button {
  width: 40px;
  height: 40px;
  background: url("../assets/check-outline.svg");
  background-size: contain;
  margin-left: auto;
  cursor: pointer;
  border: none;
}

.check-button:hover {
  background: url("../assets/check-solid.svg");
  background-size: contain;
}

.trash-button {
  width: 40px;
  height: 40px;
  background: url("../assets/trash-outline.svg");
  background-size: contain;
  margin-left: 16px;
  cursor: pointer;
  border: none;
}

.trash-button:hover {
  background: url("../assets/trash-fill.svg");
  background-size: contain;
}

.undo-button {
  width: 40px;
  height: 40px;
  background: url("../assets/undo-ouline.svg");
  background-size: contain;
  margin-left: auto;
  cursor: pointer;
  border: none;
}

.undo-button:hover {
  background: url("../assets/undo-ouline.svg");
  background-size: contain;
}

.check-button:focus,
.trash-button {
  outline: none;
}

@media only screen and (max-width: 1024px) {
  header h1 {
    font-weight: bolder;
    font-size: x-large;
    text-transform: uppercase;
  }

  .wrapper {
    margin: 12px 20px;
  }

  .wrapper h2 {
    font-size: 18px;
  }

  .wrapper .container {
    width: 100%;
  }

  .form {
    height: auto;
    width: 100%;
  }

  .form-group label {
    font-size: 16px;
    font-weight: 300;
  }

  input[type="text"],
  input[type="date"] {
    background: #feddbe;
    border: 1px solid #000;
    border-radius: 8px;
    padding: 12px;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 300;
  }

  .btn-submit {
    width: fit-content;
    border-radius: 10px;
    padding: 8px 16px;
    border: 2px solid #185adb;
    color: black;
    margin-top: 20px;
    font-size: 18px;
    align-self: flex-end;
    cursor: pointer;
  }

  .check-button,
  .trash-button,
  .undo-button {
    width: 25px;
    height: 25px;
  }

  .list-item {
    width: 100%;
  }
}
